--constraint constraints.txt

deoldify @ git+https://github.com/lopezyouhei/DeOldify.git
fastapi==0.115.12
fastprogress==1.0.3
numpy==1.26.4
pillow>=9.5.0
python-multipart==0.0.20
realesrgan==0.3.0
uvicorn==0.34.1